@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:wght@500;600;800&display=swap');

body {
    background-color: #F7F6F2;
    color: #1b1b1b;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
nav .xii {
    font-weight: bold;
}

.navbar-nav {
    cursor: pointer;
}

.nav-link {
    color: #1b1b1b !important;

}

.nav-link:hover {
    color: #777373 !important;
}

.navbar-toggler:focus,
.navbar-toggler {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    width: 20px;
}

/* Akhir Navbar */

.img-header {
    width: 320px;
}

.underline-small {
    position: relative;
    z-index: 10;
}

.underline-small::after {
    content: '';
    z-index: -9;
    height: 10px;
    width: 80%;
    background-color: #5089C6;
    position: absolute;
    left: 12%;
    bottom: 5px;
}

.underline-small-b {
    position: relative;
    z-index: 10;
}

.underline-small-b::after {
    content: '';
    z-index: -9;
    height: 10px;
    width: 80%;
    background-color: #1d4d81;
    position: absolute;
    left: 12%;
    bottom: 5px;
}

.putih {
    color: #F7F6F2;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.biru {
    background-color: #5089C6;
}

/* List jadwal pelajaran */
.jadwalFilter ul {
    display: flex;
    flex-wrap: wrap;
}

.jadwalFilter ul li {
    color: #464343;
    background: #F7F6F2;
    padding: 8px 20px;
    margin: 5px;
    list-style: none;
    letter-spacing: 1px;
    border-radius: 8px;
    cursor: pointer;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.jadwalFilter ul li:hover {
    background-color: #F0E5CF;
}

.jadwalFilter ul li.active {
    background-color: #F0E5CF;
}

.tracking-wider {
    letter-spacing: 0.05em;
}

.active-jw {
    background-color: #c4dffa !important;
}

.itemBox.hide {
    display: none;
}

.itemBox.show {
    display: block;
    animation: animate 0.6s ease-in-out;
}

@keyframes animate {
    0% {
        opacity: 0.1;
        transform: scale(0.4);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.table-jadwal table,
th,
td {
    color: #464343;
    border-collapse: collapse;
    padding: 15px;
}

.table-jadwal {
    width: 600px;
    margin-top: 20px;
    overflow: hidden;
}

table {
    width: 100%;
}

.table-fixed {
    table-layout: auto;
}

.daftarHariTabel {
    display: flex;
    flex-direction: column;
}

.table-jadwal table th {
    color: #1b1b1b;
    background-color: #F0E5CF;
}

.table-jadwal table tr {
    background-color: #F7F6F2;
}

.table-jadwal table tr:nth-child(odd) {
    background-color: #f1f1ee;
}

.caption {
    color: #F7F6F2;
    text-decoration: underline;
}

.table-fixed {
    table-layout: fixed;
}

.InfoPTM {
    display: inline;
    background-color: #12917e;
}

#infoJadwalGambar {
    display: flex;
    justify-content: center;
}

/* tabel agenda */
.tabel-agenda,
tr,
td {
    color: #000000;
    padding: 15px;
    border-collapse: collapse;
}

.border-tabel {
    border: 1px solid #6b6b6b;
}

.bg-second {
    background-color: #F0E5CF;
}

.table-ag {
    width: 600px;
    margin-top: 20px;
}

.table-ag table th {
    color: #ffffff;
    background-color: #5089C6;
}

.table-ag table tr {
    background-color: #e2f0ff;
}

/* Button */
.quizziz {
    text-align: center;
    width: 150px;
    margin-top: 1px !important;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    background: #A12568;
    color: #fff;
    border-radius: 5px;
}

.quizziz:hover {
    background: #b32c74;
    color: #fff;
}

.zoom {
    text-align: center;
    width: 150px;
    margin-top: 1px !important;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    background: #39A2DB;
    color: #fff;
    border-radius: 5px;
}

.zoom:hover {
    background: #2f95cc;
    color: #fff;
}

.youtube {
    text-align: center;
    width: 150px;
    margin-top: 1px !important;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    background: #d81818;
    color: #fff;
    border-radius: 5px;
}

.youtube:hover {
    background: #be0a0a;
    color: #fff;
}

.sway {
    text-align: center;
    width: 150px;
    margin-top: 1px !important;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    background: #1EAE98;
    color: #fff;
    border-radius: 5px;
}

.sway:hover {
    background: #179c88;
    color: #fff;
}

.gdrive {
    text-align: center;
    width: 150px;
    margin-top: 1px !important;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    background: #22b866;
    color: #fff;
    border-radius: 5px;
}

.gdrive:hover {
    background: #1a9c55;
    color: #fff;
}

.gform {
    text-align: center;
    width: 150px;
    margin-top: 1px !important;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    background: #D62AD0;
    color: #fff;
    border-radius: 5px;
}

.gform:hover {
    background: #bd21b7;
    color: #fff;
}

.absen {
    display: inline;
    text-align: center;
    width: 150px;
    margin-top: 1px !important;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 15px;
    background: #F7F6F2;
    color: #1b1b1b;
    border-radius: 5px;
}

.absen:hover {
    background: #e7e7e7;
    color: #1b1b1b;
}

/* Akhir Button */


/* Kalender */
.kalender {
    width: 170px;
    background-color: #F7F6F2;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.kalender #nBulan {
    background-color: #F0E5CF;
    padding: 7px;
    font-weight: bold;
    margin-bottom: 0;
}

.kalender #nHari {
    color: #585252;
    margin-top: 10px;
    margin-bottom: 0;
}

.kalender #hTanggal {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 0;
}

.kalender #tahun {
    color: #585252;
    margin-bottom: 10px;
}

/* Clock */
.clock {
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.clock div {
    background-color: #F7F6F2;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 20px;

}

.clock span {
    color: #F7F6F2;
    font-size: 20px;
    font-weight: bolder;
}

/* Akhir clock */

.tugas {
    background-color: #F0E5CF;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 8px;
    padding: 30px 10px;
}

.tugas h5 {
    font-weight: bold;
}


/* Icon */
.bi-heart-fill {
    font-size: 13px;
}

.bi-heart-fill:hover {
    color: #F43B86;
    transition-duration: 0.3s;
}

/* Akhir icon */

.footer-text {
    font-size: 13px;
}

/* Tidak ditemukan */
.notFound {
    height: 100vh;
}


.notFound img {
    width: 300px;
}

.notFound a {
    text-decoration: none;
    background-color: #5089C6;
    color: #F7F6F2;
    padding: 8px 20px;
    border-radius: 3px;
}

.notFound a:hover {
    background-color: #3c78b8;
}

.text-rubik {
    font-family: 'Rubik', sans-serif;
}

.tombol-kembali {
    margin-top: 30px;
}


/* DESKTOP */
@media (min-width: 992px) {
    .nav-link {
        margin-left: 20px;
        text-transform: uppercase;
    }

    .img-header {
        width: 500px;
    }

    .clock div {
        width: 100px;
        height: 100px;
        font-size: 30px;
    }

    .kalender {
        width: 200px;
    }

    .footer-text {
        font-size: 16px;
    }

    .table-fixed-w {
        table-layout: fixed;
    }

    .table-jadwal,
    .table-ag {
        width: 100%;
    }

    .notFound img {
        width: 500px;
    }
}

/* Tablet */
@media (min-width: 768px) {

    .table-jadwal,
    .table-ag {
        width: 100%;
    }
}